
# ---- Terraform (local state / providers) ----
terraform/.terraform/
**/.terraform/
terraform/.terraform.lock.hcl
**/.terraform.lock.hcl

# tfstate (ne jamais versionner)
*.tfstate
*.tfstate.*

# ---- Python / venv ----
.venv/
**/__pycache__/
*.pyc

# ---- Local data / temp ----
data/
.tmp_sql_rendered/
# ---- IDE / OS ----
.idea/
.DS_Store

# ---- Logs / build ----
*.log
dist/
build/
*.egg-info/

# Terraform (global)
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# macOS
.AppleDouble
.LSOverride

# Python
.env
pip-wheel-metadata/