name: terraform-staging

on:
  push:
    branches: [ "main" ]
    paths:
      - "terraform/**"
      - ".github/workflows/terraform-staging.yml"
  workflow_dispatch: {}

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER_STAGING }}
          service_account: ${{ secrets.GCP_TF_SA_STAGING }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform fmt
        run: terraform fmt -check -recursive

      - name: Terraform Init (staging backend)
        run: terraform init -backend-config=envs/staging/backend.hcl -reconfigure -input=false

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan (staging)
        run: terraform plan -var-file=envs/staging/terraform.tfvars -no-color -input=false